.pie {
    display: flex;
    background: $secondaryColor;
    color: $mainColor;
    justify-content: space-evenly;
    padding: 15px;
      } 
 .derechos {
    display: flex;
    margin: 2px;
    color: $mainColor;
    justify-content:$justifyContent;
    align-items: $alignitems;
 }
 .pie h3 {
    margin-top: 15px;
 }

 