.pie {
       display: flex;
       background: $terciaryColor;
       color: $mainColor;
       justify-content: space-evenly;
     } 
 .derechos {
           display: flex;
           color: $mainColor;
           justify-content:$justifyContent;
           align-items: $alignitems;
           background-color: $secondaryColor;
           }


 